{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary mr-2">
        <span>{{ button_label|default('general.buttons.save'|trans) }}</span>
    </button>
{{ form_end(form) }}
